@charset "utf-8";
/*--------------------------------reset css------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;word-break:break-all;word-wrap:break-word;}
fieldset,img{border:0}
embed,param,object{ padding:0; margin:0; display:block; float:left; zoom:1; overflow:hidden;}/*重置flash样式*/
:focus{outline:0; outline:none;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;font-variant:normal}
input,button,textarea,select,optgroup,option{/*font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit*/}
code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}
body{line-height:1.5}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
sup,sub{font-size:100%;vertical-align:baseline}
:link,:visited ,ins{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
*{appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;zoom:1;}
/* Hides from IE-mac*/
.bg_fff{background:#fff;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.ds_n{ display:none;}
.ds_b{ display:block!important;}
.v_h{visibility: hidden;}
.col_f{color:#fff;}
body{font:14px/1.5em "Arial","SimHei","黑体","Microsoft YaHei","微软雅黑";background:#f5f5f5;}
li.bor_b_n{ border-bottom:none!important;}
.wid_1300{width: 1300px;}
.height_68{height: 68px;}
.pos_r{ position:relative;}.pos_a{ position:absolute;}.hide{visibility: hidden;}.txtOut{text-indent:-99999em;}
.index_bg{background: url("../images/index.png") no-repeat;}.contentWidth{width:1200px;}

/* -----------------------------------全局public-----------------------------*/
.fl { float:left;}.f_n{ float:none!important;}.fr { float:right;}.db { display:block;}.dn { display:none;}.cl { clear:both;}.tl { text-align:left;}.tc { text-align:center;}.tr { text-align:right;}.d_i_b{ display:inline-block!important;}.ov_z{ overflow:hidden; zoom:1;}.ov_y_a{ overflow-x:hidden; overflow-y:auto;}.po_r{ position:relative;}.po_a{ position:absolute;}.mar_c{ margin:0 auto;}.mg_t40{margin-top: 40px;}.mg_b40{margin-bottom: 40px;}
.col_666{color:#666;}
.pd_b20{padding-bottom:20px;}.pd_t20{padding-top:20px;}.pd_20_30{padding:20px 30px;}.pd_b60{padding-bottom:60px;}
.col_red{color:red;}.col_blue{color:blue;}

/*-------------------自定义滚动条----------------------------------*/
body{ overflow: auto!important;zoom:1;}
.cds_scrollbar{ overflow-x: hidden; overflow-y: auto!important;zoom:1;}
.cds_scrollbar::-webkit-scrollbar-track,body::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
.cds_scrollbar::-webkit-scrollbar,body::-webkit-scrollbar{width: 6px;background-color: #F5F5F5;}
.cds_scrollbar::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb{background-color: #a1a1a1;}

/* -----------------------------------导航-----------------------------*/
.backHome{font-size: 18px; top: 70px;left:48px; line-height:50px;}
.backHome,.backHome:hover{color:#000;}
.jen_head_bg{ min-width:1300px;background: url("../images/jen_index_bg.png") repeat-x;overflow: hidden; zoom:1;}
.jen_head_bg .jen_head{ width:1300px;_width:1300px; height:70px; margin:0 auto;}
.jen_head_bg .jen_head .jen_logo{ width:251px; height:31px; margin:19px 200px 0 0; background: url("../images/jen_logo.png") no-repeat;}
.jen_head_bg .jen_head .jen_help{ width:19px; height:27px; background-position:-173px 3px; margin-top:21px; padding-left:14px;}
.jen_head_bg .jen_head .jen_help a{width:19px; height:27px; display:block; text-indent:-9999em;}
.jen_login_name{  line-height:21px; font-size: 14px; margin-top:13px; text-align:right; color:#666; overflow: hidden; zoom:1;}
.jen_login_name a{color:#666;height:25px; display:inline-block;background: url("../images/qs.png") no-repeat 0 4px; padding-left:20px;}
/*导航*/
ul.jen_head_nav{ padding:12px 0 0 0; height:58px;line-height:46px;}
ul.jen_head_nav li{font-size:18px; font-weight:400; padding: 0 30px; float:left; text-align:center; margin:0 20px; display:inline-block; font-family:"Microsoft YaHei"; letter-spacing:1px;}
ul.jen_head_nav li,ul.jen_head_nav li a{ color:#fff; display:block;}
ul.jen_head_nav li:hover,ul.jen_head_nav li:hover a{ color:#fff;}
ul.jen_head_nav li.jen_nav_current,ul.jen_head_nav li.jen_nav_current a{ color:#fff;}
ul.jen_head_nav li.jen_nav_current,ul.jen_head_nav li:hover{border-bottom: 7px solid #f6b551;}


/*title*/
.cloudTitle_a{font-size:18px; line-height:40px; height: 42px; overflow: hidden;zoom:1; padding-left: 45px; color:#7b7b7b;}
.icon_yellow{ background: url("../images/icon_huang.png") no-repeat left top;}
.icon_red{background: url("../images/icon_h.png") no-repeat left top;}
.icon_blue{background: url("../images/icon_l.png") no-repeat left top;}
/*二级导航*/
ul.nav_second_level{width:1038px;padding-top:9px; height:41px; padding-left:240px; margin: 0 auto;}
ul.nav_second_level li{  font:16px/32px "Microsoft YaHei"; color:#666; margin:0 33px; float: left; cursor:pointer;}
ul.nav_second_level li a{color:#666; display:block; height:32px;}
ul.nav_second_level li:hover{color:#000;border-bottom: 7px solid #f6b551;}
ul.nav_second_level li.nav_level_active{ color: #000; font-weight:bold;border-bottom: 7px solid #f6b551;}
ul.nav_second_level li span{padding:0;}
ul.nav_second_level li:first-child span{border-left:none;}
ul.nav_second_level li:last-child span{border-right:none;}

/*cloudContent*/
.cloudContent{ display:block;width:1300px;}


/*index*/
.scroll_mod{width: 5000%;}
.indexScrollList{padding:20px 0; width:2600px; overflow: hidden; zoom:1; float: left;}
.indexScrollList li{width: 1300px; overflow: hidden; zoom:1; float: left; text-align: center;}
.indexScrollList li img{max-width:1300px;display: inline-block; margin: 0 auto;}

/*pdf_mod*/
.pdf_mod p{padding-top:20px; text-align: center;}
.pdf_mod p img{display: inline-block; margin: 0 auto;}

/*animate*/
@-webkit-keyframes change_t_lHoverBox { 0% {opacity:1;width:0;height:0;} 100% {opacity:1;width:125px;height:125px;} }
@keyframes change_t_lHoverBox { 0% {opacity:1;width:0;height:0;} 100% {opacity:1;width:125px;height:125px;} }
@-webkit-keyframes change_b_rHoverBox { 0% {opacity:0;width:0;height:0;} 100% {opacity:1;width:24px;height:24px;} }
@keyframes change_b_rHoverBox { 0% {opacity:0;width:0;height:0;} 100% {opacity:1;width:24px;height:24px;} }
/*list Hover 通用*/
.hoverList li .t_lHover{width:0;height:0; position: absolute;top:-4px;left:-4px; background-position:0 0; opacity:0;}
.hoverList li .b_rHover{width:0;height:0; position: absolute;bottom:-4px;right:-4px; background-position:-125px 0; opacity:0;}
.hoverList li{ position: relative;}
.hoverList li a{display:block; width:100%; height:auto;}
.hoverList li img{display: block;border: none;}
.hoverList li:hover{-webkit-box-shadow:0 10px 35px rgba(0,0,0,0.17);-moz-box-shadow:0 10px 35px rgba(0,0,0,0.17);box-shadow:0 10px 35px rgba(0,0,0,0.17);}
.hoverList li:hover .t_lHover{-webkit-backface-visibility: visible!important;-ms-backface-visibility: visible!important;backface-visibility: visible!important;-webkit-animation-name: change_t_lHoverBox;animation-name: change_t_lHoverBox;-webkit-animation-duration:.2s;animation-duration:.2s;-webkit-animation-fill-mode: both;animation-fill-mode: both}
.hoverList li:hover .b_rHover{-webkit-backface-visibility: visible!important;-ms-backface-visibility: visible!important;backface-visibility: visible!important;-webkit-animation-name: change_b_rHoverBox;animation-name: change_b_rHoverBox;-webkit-animation-duration:.2s;animation-duration:.2s;-webkit-animation-fill-mode: both;animation-fill-mode: both}

/*-----------------------------------------sellerList-----------------------------------*/
.sellerLeftPic a{width:100%;height:100%;display: block;}
.seller_list_a{width:1260px;}
.seller_list_a li{width:285px;background:#fff; border:1px solid #eee; float: left; zoom:1; margin:0 27px 28px 0;}
.search_key{height:32px;line-height: 32px;margin-top:10px; color:#666;}
.search_value ul li{overflow:hidden;zoom:1;float:left; margin:10px 12px;}
.search_value ul li a{height:32px;line-height: 32px;display:block;padding:0 14px;color:#333;}
.search_value ul li a.a_active,.search_value ul li a:hover{background:#ff5256; color:#fff; border-radius:16px;-webkit-border-radius:16px;-moz-border-radius:16px;}


/*table*/
.cloudTable_a th{font-weight: bold;}
.cloudTable_a th,.cloudTable_a  td{font-size:15px; color:#666;line-height:30px; padding:0 30px; border-right:1px solid #eee;}